<header class="header">
	<div class="container">
		<!--<img class="imgLogo" [src]="imgLogo" alt="logo" />-->
		<h1 class="title">{{ title }}</h1>
	</div>
	<nav class="menu-nav">
		<ul class="list-ul">
			<li class="list-li">
				<a
					class="link"
					routerLink="/products"
					routerLinkActive="active"
					ariaCurrentWhenActive="page"
					>Products</a
				>
			</li>
			<li class="list-li">
				<a
					class="link"
					routerLink="/register"
					routerLinkActive="active"
					ariaCurrentWhenActive="page"
					>Register</a
				>
			</li>
			<li class="list-li">
				<a class="link" routerLink="/login">Login</a>
			</li>
		</ul>
		<div>
			<button class="btn-menu">
				<img class="car-menu" [src]="imgMenuCar" alt="" />
			</button>
		</div>
	</nav>
</header>

<main>
	<app-filter></app-filter>
	<router-outlet></router-outlet>
</main>
