<div class="container-form">
	<div class="box-form">
		<form class="form" [formGroup]="form" (ngSubmit)="save($event)">
			<h1 class="text-form">Login</h1>
			<div class="box-input">
				<label class="label" for="email"
					>Email: {{ emailField?.value }}</label
				>
				<input
					class="input"
					type="email"
					name="email"
					[class.is-valid]="isEmailFieldValid"
					[class.is-invalid]="isEmailFieldInValid"
					formControlName="email"
					placeholder="Ex: pepito@gmail.com"
				/>

				<div class="messages" [class.active]="isNameFieldInValid">
					<p>
						<strong *ngIf="emailField?.hasError('required')"
							>Este campo es requerido</strong
						>
					</p>
					<p>
						<strong *ngIf="emailField?.hasError('email')"
							>Esto no es un email válido</strong
						>
					</p>
				</div>
			</div>

			<div class="box-input">
				<label class="label" for="password"
					>Password{{ passwordField?.value }}</label
				>
				<input
					class="input"
					type="password"
					name="password"
					formControlName="password"
					placeholder="Ex: pepito10"
				/>
				<div class="messages" [class.active]="isNameFieldInValid">
					<p>
						<strong *ngIf="passwordField?.hasError('required')"
							>Este campo es requerido</strong
						>
					</p>
					<p>
						<strong *ngIf="passwordField?.hasError('password')"
							>Esta contraseña no es válida</strong
						>
					</p>
				</div>
			</div>
			<p>
				<button type="submit">Register</button>
				<!--[disabled]="form.invalid"-->
			</p>
		</form>
	</div>
</div>
